<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@3.1.1/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Vue 3</title>
</head>
<body>
  <div id="app"></div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.1/dist/vuetify.min.js"></script>
  <script src="https://unpkg.com/amazon-cognito-identity-js@6.1.3-unstableV5.9/dist/amazon-cognito-identity.min.js"></script>
  <script src="https://unpkg.com/vue-router@4"></script>
  <script src="https://unpkg.com/vue-demi"></script>
  <script src="https://unpkg.com/pinia"></script>
  <script>
// Vue3 Composition API
const { createApp, ref, onMounted, computed } = Vue
const { CognitoUserPool, CognitoUser, AuthenticationDetails } = AmazonCognitoIdentity
const { defineStore, createPinia } = Pinia

const useUserStore = defineStore('user', () => {
  const user = ref({})
  function setUser(newValue) {
    user.value = newValue
  }
  return { user, setUser }
})

const useCognito = () => {
  const { user, setUser } = useUserStore()

  //https://github.com/aws-amplify/amplify-js/tree/master/packages/amazon-cognito-identity-js#usage
  const signIn = async(username, password) => {
    const poolData = {
      UserPoolId : 'ap-northeast-1_',
      ClientId : 'xx'
    }
    const userPool = new CognitoUserPool(poolData)
    const userData = { Username: username, Pool: userPool }
    const cognitoUser = new CognitoUser(userData)
    const authenticationData = { Username: username, Password: password }
    const authenticationDetails = new AuthenticationDetails(authenticationData)
    return new Promise((resolve, reject) => {
      cognitoUser.authenticateUser(authenticationDetails, {
        onSuccess: result => {
          setUser({
            idToken: result.idToken.jwtToken,
            payload: result.idToken.payload
          })
          resolve(result)
        },
        onFailure: err => {
          reject(err)
        }
      })
    })
  }

  return {
    user,
    signIn
  }
}

const useFetch = () => {
  const data = ref([])
  const error = ref('')

  const getData = async(url) => {
    try {
      const res = await fetch(url)
      if(!res.ok) {
        switch (res.status) {
          case 400: throw Error('INVALID_TOKEN')
          case 401: throw Error('UNAUTHORIZED')
          case 404: throw Error('NOT_FOUND')
          case 500: throw Error('INTERNAL_SERVER_ERROR')
          case 502: throw Error('BAD_GATEWAY')
          default:  throw Error('UNHANDLED_ERROR')
        } 
      }
      data.value = await res.json()
    } catch (e) {
      error.value = e.message
    }
  }
  
  return {
    data,
    error,
    getData
  }
}

const useValidation = () => {
  const Rules = {
    email: [
      (v) => !!v || 'メールアドレスを入力してください',
      (v) => v.length <= 32 || '32文字以下で入力してください',
      (v) => /.+@.+\..+/.test(v) || 'メールアドレスを入力してください',
    ],
    password: [
      (v) => !!v || 'パスワードを入力してください',
      (v) => /^(?=.*[A-Z])/.test(v) || '8～32文字で大文字、小文字、数字、記号を含む必要があります',
      (v) => /^(?=.*[a-z])/.test(v) || '8～32文字で大文字、小文字、数字、記号を含む必要があります',
      (v) => /^(?=.*[0-9])/.test(v) || '8～32文字で大文字、小文字、数字、記号を含む必要があります',
      (v) => /^(?=.*[ ^$*.[\]{}()?"!@#%&/\\,><':;|_~`=+-])/.test(v) || '8～32文字で大文字、小文字、数字、記号を含む必要があります',
      (v) => v.length >= 8 || '8～32文字で大文字、小文字、数字、記号を含む必要があります',
      (v) => v.length <= 32 || '8～32文字で大文字、小文字、数字、記号を含む必要があります',
    ],
  }
  return {
    Rules
  }
}

const useSearchHightLight = () => {
  const search = ref("")

  const highLight = (text) => {
    let searchWord = search.value
    if (typeof(text) !== "string") return text
    if (searchWord === "") return text
    if (!text.includes(searchWord)) return text

    const re = new RegExp(searchWord, "g")

    return text.replace(re, function (search) {
      return '<span style="background-color:yellow;font-weight:bold">' + search + '</span>'
    })
  }

  return {
    search,
    highLight,
  }
}

const Users = {
  setup() {
    const { data: users, error, getData } = useFetch()
    const headers = ref([
      { text: 'Name', value: 'name' },
      { text: 'Email', value: 'email' },
      { text: 'Website', value: 'website' },
    ])

    onMounted(async () => {
      await getData("https://jsonplaceholder.typicode.com/users")
      users.value = users.value.map(item => {
        return { name: item.name, email: item.email, website: item.website }
      })
    })

    return {
      headers,
      users,
      error,
    }
  },
  template: `
    <n-card title="Users Table">
      <n-search-table :headers="headers" :items="users" />
    </n-card>
  `
}

const Home = {
  setup() {
    const { user } = useUserStore()
    return {
      user
    }
  },
  template: `
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-toolbar density="compact" flat color="gray" class="elevaton-1" mb-2>
                  <v-toolbar-title>ユーザー情報</v-toolbar-title>
                  <v-spacer />
                </v-toolbar>
                <v-table density="compact">
                  <thead>
                    <tr>
                      <th>key</th><th>value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>cognito:username</td><td>{{ user.payload['cognito:username'] }}</td></tr>
                    <tr><td>email</td><td>{{ user.payload.email }}</td></tr>
                    <tr><td>email_verified</td><td>{{ user.payload.email_verified }}</td></tr>
                    <tr><td>name</td><td>{{ user.payload.name }}</td></tr>
                    <tr><td>phone_number</td><td>{{ user.payload.phone_number }}</td></tr>
                    <tr><td>sub</td><td>{{ user.payload.sub }}</td></tr>
                  </tbody>
                </v-table>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-toolbar density="compact" flat color="gray" class="elevaton-1" mb-2>
                  <v-toolbar-title>ユーザー情報（raw）</v-toolbar-title>
                  <v-spacer />
                </v-toolbar>
                <pre style="font-size: 0.8em; line-height: 1.2">{{ JSON.stringify(user.payload, null, 2) }}</pre>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  `
}

const About = {
  template: `
    <div>
      <h1>This is an About page</h1>
    </div>
  `
}

const Layout = {
  setup() {
    const drawer = ref(true)
    const items = [
      { name: 'Home', icon: 'mdi-home', to: 'home' },
      { name: 'Users', icon: 'mdi-account', to: 'users' },
      { name: 'About', icon: 'mdi-information', to: 'about' },
    ]
    return {
        drawer,
        items
    }
  },
  template: `
    <v-app>
      <v-app-bar dark color="primary" app>
        <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer" />
        <v-toolbar-title>
          title
        </v-toolbar-title>
      </v-app-bar>
      <v-navigation-drawer v-model="drawer" permanent app>
        <v-list>
          <v-list-item v-for="(item, i) in items" :key="i" :value="item.name" :to="item.to">
            <v-list-item-title>
              <v-icon color="primary" :icon="item.icon" class="pb-2" />
              {{ item.name }}
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>

      <v-main>
        <v-container>
          <router-view />
        </v-container>
      </v-main>
    </v-app>
  `
}

const Login = {
  setup() {
    const { idToken, signIn } = useCognito()
    const { Rules } = useValidation()
    const alert = ref(false)
    const error = ref('')
    const valid = ref(false)
    const username = ref('')
    const password = ref('')

    const clickSignIn = async () => {
      try {
        await signIn(username.value, password.value)
        alert.value = true
        router.push('home')
      } catch(e) {
        alert.value = true
        if (e.message == 'Incorrect username or password.') {
          error.value = 'ユーザIDまたはパスワードが正しくありません。'
        } else if (e.message == 'Password attempts exceeded') {
          error.value = 'パスワード試行回数が上限を超えました。'
        } else {
          error.value = 'エラーが発生しました。 ' + e.code + ': ' + e.message
        }
      }
    }

    return {
      alert,
      error,
      valid,
      Rules,
      username,
      password,
      clickSignIn
    }
  },
  template: `
    <v-app>
      <v-main>
        <v-container>
          <v-alert type="error" v-model="alert" closable> {{ error }}</v-alert>
          <v-row justify="center">
            <v-col>
              <v-card max-width="420px" class="mx-auto my-8">
                <v-card-title class="font-weight-bold mb-4">ログイン</v-card-title>
                <v-form v-model="valid">
                  <v-card-text>
                    <v-text-field v-model="username" variant="outlined" density="compact" label="ユーザー名" :rules="Rules.username" />
                    <v-text-field v-model="password" variant="outlined" density="compact" label="パスワード" type="password" :rules="Rules.password" />
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer />
                    <v-btn block variant="elevated" :disabled="!valid" color="primary" @click="clickSignIn">ログイン</v-btn>
                  </v-card-actions>
                </v-form>          
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    </v-app>
  `
}

const routes = [
  {
    path: '/',
    name: 'login',
    component: Login,
  },
  {
    path: '/secret',
    component: Layout,
    children: [
      { path: '/home',  name: 'home',  component: Home },
      { path: '/users', name: 'users', component: Users },
      { path: '/about', name: 'about', component: About },
    ]
  }
]

const router = VueRouter.createRouter({
  history: VueRouter.createWebHashHistory(),
  routes,
})

const vuetify = Vuetify.createVuetify()

const app = createApp({
  template: `
    <router-view />
  `
})
.use(router)
.use(vuetify)
.use(createPinia())

app.component('n-card', {
  props: {
    title: String
  },
  template: `
    <v-card>
      <v-card-title>
        {{ title }}
      </v-card-title>
      <v-card-text>
        <slot />
      </v-card-text>
    </v-card>
  `
})

app.component('n-search-table', {
  props: {
    headers: Array,
    items: Array
  },
  setup(props) {
    const { haeders, items } = Vue.toRefs(props)
    const { search, highLight } = useSearchHightLight()

    const updated_items = computed(() => {
      if (search.value === "") return items.value
      return items.value.filter((item) => {
        return JSON.stringify(item).includes(search.value)
      })
    })

    return {
      search,
      highLight,
      updated_items
    }
  },
  template: `
    <v-text-field density="compact" v-model="search" label="検索" />
    <v-table density="compact">
      <thead>
        <tr>
          <th v-for="(item, index) in headers" :key="index">
            {{item.text}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in updated_items" :key="index">
          <td v-for="value in item" :key="value">
            <div v-html="highLight(value)" />
          </td>
        </tr>
      </tbody>
    </v-table>
  `
})

app.mount("#app")

  </script>
</body>
</html>